<!DOCTYPE html>
<html style="height: 100%;">
<head>
    <title>ONLYOFFICE Api Documentation</title>
</head>
<body style="height: 100%; margin: 0;">
<div id="placeholder" style="height: 100%"></div>
<script type="text/javascript" src="http://192.168.119.36:8082/web-apps/apps/api/documents/api.js"></script>

<script type="text/javascript">

    window.docEditor = new DocsAPI.DocEditor("placeholder",
        {
            "document": {
                "fileType": "docx",
                "key": "E7FAFC9C22A8",
                "title": "Example Document Title.docx",
                "url": "https://example.com/url-to-example-document.docx"
            },
            "documentType": "text",
            "editorConfig": {
                "callbackUrl": "https://example.com/url-to-callback.ashx"
            },
            "height": "100%",
            "width": "100%"
        });

</script>
</body>
</html>