<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>资产管理系统管理员登陆入口</title>

    <link rel="stylesheet" type="text/css" href="../static/css/index.css"/>
    <script src="../static/js/jquery-1.11.0.js"></script>
    <script type="text/javascript" src="../static/js/index.js"></script>
</head>
<body>
<section>
    <!--上半部分-->
    <div id="header">

    </div>

    <!--表单区域-->
    <form action="" method="post">
        <div id="form_container">
            <div class="form_title">
                <hr class="hrl"/>
                <h1>管理员登录入口</h1>
                <hr class="hrr"/>
            </div>
            <div class="form_input form_input_loginname">
                <span class="ico_imgs ico_imgs_loginname"><img src="../static/img/name.png"/></span>
                <div>
                    <input type="text" name="adminname" placeholder="请输入管理员用户名"/>
                    <hr class="hrinput hrname"/>
                </div>
            </div>
            <div class="form_input form_input_loginpwd">
                <span class="ico_imgs ico_imgs_loginpwd"><img src="../static/img/pwd.png"/></span>
                <div>
                    <input type="password" name="adminpwd" placeholder="请输入管理员密码"/>
                    <hr class="hrinput hrpwd"/>
                </div>
            </div>

            <div class="btn_login ">
                <input type="submit" value="登&nbsp&nbsp&nbsp入" id="form_submit"/>
            </div>
        </div>
    </form>

</section>
</body>
</html>
